<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Navigation Links -->
        <li class="nav-item dropdown">
            <a class="logo-title nav-link text-black mr-5" href="{% url 'home' %}">
                Home
            </a>            
        </li>

        <li class="nav-item dropdown">
            <a class="logo-title nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-title nav-link text-black mr-5" href="#" id="crystals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crystals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="crystals-link">
                <a href="{% url 'products' %}?category=angel" class="dropdown-item">Angel Healing Crystals</a>
                <a href="{% url 'products' %}?category=chakra" class="dropdown-item">Chakra Healing Crystals</a>
                <a href="{% url 'products' %}?category=best" class="dropdown-item">Best Healing Crystals</a>
                <a href="{% url 'products' %}?category=angel,chakra,best" class="dropdown-item">All Crystals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-title nav-link text-black mr-5" href="#" id="gifts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="{% url 'products' %}?category=home" class="dropdown-item">Home</a>
                <a href="{% url 'products' %}?category=women" class="dropdown-item">Women</a>
                <a href="{% url 'products' %}?category=men" class="dropdown-item">Men</a>
                <a href="{% url 'products' %}?category=home,women,men" class="dropdown-item">All Gifts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-title nav-link text-black" href="{% url 'reviews' %}">
                Reviews
            </a>
        </li>
    </ul>
</div>